<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Long description:</strong>
  <div class="markdown">
  <%= @markdown.render(@topic.long_description).html_safe %>
  </div>
</p>

<p>
  <strong>Focus area:</strong>
  <%= @topic.focus_area %>
</p>

<%= select_tag(:interest_level, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]]), data: {"topic_id" => @topic.id }); %>

<%= form_for(Interest.new, remote: true) do |f| %>
  <%= f.hidden_field :topic_id, value: @topic.id %>
  <div class="field">
  <%= f.label :level %>
  <%= f.text_field :level %>
  </div>
  <div class="field">
  <%= f.label :comment %>
  <%= f.text_area  :comment %>
  </div>
  <%= f.submit %>
<% end %>

<ul id="interests">
  <%= render @topic.interests %>
</ul>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
