<!-- Using content_for fills in the placeholder in the
     layout wherever we see  yield :more_links -->
<%= content_for :more_links do %>
  <li><%= link_to "New Book", new_book_path %></li>
<% end %>

<% if @search %>
  <h1>You searched for <%= @search %></h1>
  <h2>Found <%= pluralize(@books.count, "book") %></h2>
<% end %>

<h1>Welcome back <%= current_user.email %></h1>

<table class="table table-bordered table-condensed table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date published</th>
      <th>Page Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <% if book.long? %>
        <tr class="book success">
      <% else %>
        <% if book.missing_page_count? %>
          <tr class="book danger">
        <% else %>
          <tr class="book">
        <% end %>
      <% end %>
        <td class="title"><%= book.title %></td>
        <td class="date-published"><%= book.date_published %></td>
        <td class="page-count"><%= book.page_count %></td>

        <td><%= link_to '', book, class: "glyphicon glyphicon-info-sign" %></td>
        <td><%= link_to '', edit_book_path(book), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to('', book, method: :delete, class: "glyphicon glyphicon-trash", data: { confirm: 'Are you really really really sure you dont like this book?' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<p id="notice"><%= notice %></p>
