<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :long_description %><br>
    <%= f.text_area :long_description %>
  </div>
  <div class="field">
    <%= f.label :focus_area %><br>
    <%= f.text_field :focus_area %>
  </div>

  <%= f.fields_for :interests do |interest_fields| %>
    <div class="field">
    <%= interest_fields.label :level %>
    <%= interest_fields.text_field :level %>
    </div>
    <div class="field">
    <%= interest_fields.label :comment %>
    <%= interest_fields.text_area :comment %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
