<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Listing Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Long description</th>
      <th>Focus area</th>
      <th># of interests</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.long_description %></td>
        <td><%= topic.focus_area %></td>
        <td><%= topic.interests_count %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
