<%= form_for(@author, class: "form-horizontal") do |f| %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
      <% @author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form_control" %>
  </div>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :preferred_genre %><br>
    <%= f.text_field :preferred_genre %>
  </div>
<% end %>
